html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

/* root */
:root{
    --button-color: #171100;
    --primary-color: #171100;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}

/* line-clamp */
.line-clamp{
    --line-clamp: 1;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* word-break-all */
.word-break-all{
    word-break: break-all;
}

.line-clamp.line-2{
    --line-clamp: 2;
}

/* common tags */
a{
    text-decoration: none;
}

/* content */
.content{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto
}

/* button */
.primary-btn{
    display: inline-block;
    min-width: 118px;
    padding: 12px 24px;
    background-color: var(--button-color);
    font-weight: 600;
    text-align: center;
    color: #fff;
    border-radius: 24.5px;
    text-align: center;
}